@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is a web app that allows users to rate restaurants.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Click the button link below to Rate a Restaurant
        </p>
        <p><a class="btn btn-default" href="#">Rate a Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Click the button link below to learn more.</p>
        <p><a class="btn btn-default" href="#">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Click the button link below to contact us</p>
        <p><a class="btn btn-default" href="#">Contact Us &raquo;</a></p>
    </div>
</div>